{% extends 'base.html' %}

{% block page-content %}
<h1>About</h1>

<p>I (Jesse Grosjean) run <a href="http://www.hogbaysoftware.com/">Hog Bay Software</a>, a Mac OS X software company. For years I&#8217;ve felt guilty because I don&#8217;t release localized versions of my software, and I even turn down free offers to localize my software.</p>

<p>I&#8217;m not alone. Most software isn&#8217;t localized, and no software is localized into all languages. Each new localization adds a new step the the software release process, and in most cases it&#8217;s just not worth the developers time to manage it.</p>

<p>I hope this site can provide a solution. My goal is get lazy developers (like myself) out of the way, and instead allow users to create and share their own localizations anytime they are needed.</p>
{% endblock %}
