{% extends 'base.html' %}

{% block page-content %}
<h1>About</h1>

<p>I (Jesse Grosjean) run <a href="http://www.hogbaysoftware.com/">Hog Bay Software</a>, a Mac OS X software company. For years I&#8217;ve felt guilty because I don&#8217;t release localized versions of my software, and I have even turned down free offers to localize my software.</p>

<p>I&#8217;m not alone. Most software isn&#8217;t localized, and no software is localized into all languages. Each new localization adds a new step the the software release process, and in most cases it&#8217;s just not worth the developers time to manage it.</p>

<p>I hope this site can provide a solution. My goal is get lazy developers (like myself) out of the way, and instead provide a site that allows users to create and share their own localizations anytime they are needed.</p>

<p>The following companies encourage you to create and post localizations of their software to this site. They will provide translators with a free license key, and will host the localized downloads if you need server space.</p>

<ul>
<li><a href="http://www.hogbaysoftware.com">Hog Bay Software</a></li>
<li><a href="http://www.literatureandlatte.com/">Literature and Latte</a></li>
</ul>

{% endblock %}
