{% extends 'base.html' %}

{% block page-content %}
<div id="header">
<image src="/static/logo.png" width="337" height="65" alt="Localmac.org — Work in your language"/>
<h1>Localmac.org</h1>
<h2>Work in your language</h2>
</div>

<p>For Mac users who want localized versions of their favorite apps. Localmac.org is where you find and share translations that the developer forgot to include. Don&#8217;t wait around for your app&#8217;s developer to do it, work in your language today.</p>

<table>
	<tr>
		<th>Localizations</th>
	</tr>
	{% for each in results %}
	<tr>
		<td>
			<a href="{{ each.localization_link }}">({{ each.iso_language_code }}) {{ each.name }} — {{ each.bundle_version }}</a>
		</td>
	</tr>
	{% endfor %}
</table>
	
{% endblock %}
