{% extends 'base.html' %}

{% block page-content %}

<h1>New Localization</h1>

<p>

<form action="/" method="post">
	<fieldset>
        <legend>Info</legend>

		<label for="name">Name: <em class="required">required</em></label>
		<input type="text" name="name" class="text" id="name" /><br />
	
		<label for="bundle_id">Bundle ID: <em class="required">required</em></label>
		<input type="text" name="bundle_id" class="text" id="bundle_id" /><br />

		<label for="bundle_version">Bundle Version: <em class="required">required</em></label>
		<input type="text" name="bundle_version" class="text" id="bundle_version" /><br />

		<label for="iso_language_code">Language: <em class="required">required</em></label>
		<input type="text" name="iso_language_code" class="text" id="iso_language_code" /><br />
	</fieldset>
	
	<fieldset>
        <legend>Links</legend>

		<label for="application_link">Application Home Page Link: <em class="required">required</em></label>
		<input type="text" name="application_link" class="text" id="application_link" /><br />

		<label for="localization_link">Localization Download Link: <em class="required">required</em></label>
		<input type="text" name="localization_link" class="text" id="localization_link" /><br />
	</fieldset>

	<input type="submit" value="Create Localization">
</form>
{% endblock %}
